<h3>Welcome, <%= @customer.email %></h3>
<h1>My Work Requests</h1>
<% if @customer.customer_requests %>
  <% @customer.customer_requests.each do |cr| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover">
        <h4><%= cr.description %></h4>
          <thead>
            <tr>
              <th>Service Category</th>
              <th>Expiration Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= cr.service_category.name%></td>
              <td><%= cr.expires_date.strftime("%B %e, %Y") %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
<a href="/customer_requests/new"><button class="btn btn-theme-bg btn-lg pull-right">New Work Request</button>
