<h2>Contact Us:</h2>
  <div class="row">
    <div class="well">
      <h3 class="contact-us"><u>Email</u>: veteransworkheroku@gmail.com</h3>
      <h3 class="contact-us"><u>Phone</u>: 123-456-7890</h3>
    </div>
  </div>