<script>document.body.className += ' fade-out';</script>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 hero-text">
        <h1>Our Mission</h1>
        <h3>For our beloved veterans in the skilled trades, work opportunities can sometimes be hard to come by. Veterans Work's mission is to connect customers in need with hard working, dedicated veterans who are qualified and ready.</h3>
      </div>
    </div>
  </div>

  <div class="history">
    <h2>Our History</h2>
    <div class="row">
      <hr>
      <div class="history">
        <p>Founder Michael, a Marine Corps veteran created Veteran’s Work off of a personal experience when his house was damaged by a hail and windstorm.  When he was combing through the internet, the desire was to have veteran owned businesses to come and repair his home.  After several hours of looking, there really was no central location for the public to connect to the skilled and reliable veteran businesses that are out there.  That experience is how Veterans Work was created.  Now everyone can have that central location, beneficial to our veterans, also to the deserving public.</p>

        <hr>

      </div>
      <div class="contact">
        <%= render 'contact_info' %>
      </div>
    </div>
  </div>
</div>