<div class="jumbotron">
  <h1 class="home-title">Veterans Work</h1>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 ">
        <p id="jumbotron-message">For our beloved veterans in the skilled trades, work opportunities can sometimes be hard to come by. Veterans Work's mission is to connect customers in need with hard working, dedicated veterans who are qualified and ready.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div>
          <%= link_to "Customer Sign In", "/customers/sign_in", class: "btn btn-success btn-lg" %>
        </div>
        <p>Customers can post work requests and receive competitive bids from veterans and veteran-owned companies.</p>
      </div>
      <div class="col-md-6">
        <div>
          <%= link_to "Company Sign In", "/companies/sign_in", class: "btn btn-success btn-lg" %>
        </div>
        <p>Skilled trade veterans and veteran-owned companies can bid on and win work opportunities.</p>
      </div>
    </div>
    <%= link_to "administrator login", "/admins/sign_in" %>
</div>

<div class="jumbotron help">
  <h2>What do you need help with?</h2>
</div>

<div class="jumbotron how">
  <h2>How It Works</h2>
    <div class="row">
      <div class="col-md-6">
        <p>Text would go here</p>
      </div>
      <div class="col-md-6">
        <p>More text would go here</p>
      </div>
    </div>
</div>

<div class="jumbotron about">
  <h2>About</h2>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 ">
        <p id="jumbotron-message">Text would go here.</p>
      </div>
    </div>
</div>