<div class="row">
  <div class="col-md-6">
    <div>
        <%= link_to "Existing Customer sign in", "/customer/sign_in" %>
    </div>
    <div>
      <%= link_to "Custmer Sign Up", "/customer/sign_up" %>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <%= link_to "Exisiting Company sign in", "/companies/sign_in" %>
    </div>
    <div>
      <%= link_to "Company Sign Up", "/companies/sign_up" %>
    </div>
  </div>
</div>
