<div>Service Categories Offered
  <%= form_tag "/companies/services/#{current_company.id}", method: :patch do %>
    <% @service_categories.each do |service_category| %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary"> 
          <%= check_box_tag 'service_category[]', service_category.id, checked = false %> <%= service_category.name %>
        </label>
      </div>
    <% end %>
    <div class="actions">
      <%= submit_tag "Update" %>
    </div>
  <% end %>
</div>