<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    h1   {color: gold;}
    </style>
  </head>
  <body>
  <h1>Hell yes</h1>

  <p>You made the cut and received this job.</p>
  </body>
</html>