<h1>Customer Requests</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Address</th>
          <th>Category</th>
          <th>Expires</th>
        </tr>
      </thead>
      <tbody>
          <% @requests.each do |request| %>
            <tr>
              <td><%= request.full_street_address.titleize %></td>
              <td><%= request.service_category.name.capitalize %></td>
              <td><%= request.expires_date.strftime("%m/%d/%Y") %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
