.homepage {
  background: image-url("combat_boots") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-content {
  margin-bottom: 78px;
}

.non-homepage {
  background-image: image-url("polaroid");
}

.jumbotron {
  background-color: rgba(230,230,230,0.7);
  background-height: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
