$swamp-green: rgb(90,109,48);

$pine-green: rgb(4,105,56);

$mint-green: rgb(112,175,74);

$muddy-brown: rgb(140,97,28);

$muddy-red: rgb(103,55,36);

$taupe: rgb(159,157,55);

$mustard: rgb(248,235,0);

$honey-mustard: rgb(217,177,20);

$wet-concrete: rgb(155,107,99);

$navy-blue: rgb(0,0,128);

$gold: rgb(255,252,168);

$white: rgb(255,255,255);

$logo-green: rgb(60,114,58);
