@import "colors";

.navbar-brand {
  padding: 5px 15px 15px 15px;
}

.navbar-left {
  padding: 5px 5px 5px 5px;
}
.navbar-right {
  margin: 0px 0px 0px 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2a2a2a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #b1b1b1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: $design-green;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 24px;
  margin-left: 50px;
  color: #f1f1f1;
}

.sidenav .closebtn:hover {
  cursor:pointer;
}

.open-nav {
  font-size:22px;
  cursor:pointer;
  color: $design-green;
  padding: 5px 0px 0px 0px;
}

#overlay {
  position: fixed; 
  display: none; 
  width: 100%;
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.current-page a {
  color: $design-green !important;
}

.current-page a:hover {
  color: #271E16 !important;
}

.navbar {
  height: 60px;
  width: 100%;
  border-color: transparent;
}

.whiteHeader {
  background-color: $white;
  position: relative;
}

.right-nav {
  margin: 0 -12px;
}

.navbar-white {
  background-color: $white;
  font-size: 14px;
  color: #b1b1b1;
  width: 100vw;
  margin: 0;
  text-align: center;
}

.navbar-white .navbar-nav li a:hover {
  color: #136E29;
  text-decoration: underline;
}

.navbar-white .navbar-nav li a:active {
  color: #136E29;
  text-decoration: underline;
}

.navbar ul li a {
}

.navbar button {
  color: white;
  border: 0;
}

.btn-nav {
  background-color: $design-green;
  color: white;
  border: 0;
  width: 100%;
}

#customer-sign-up, #company-sign-up {
  padding-right: 20px;
}

#company-sign-in, #customer-sign-in {
  padding-right: 20px;
}

.footer {

  background-color: #EFEFEF;
  height: auto;
  text-align: center;



  // white-space: nowrap;

  #MilitaryLogoContainer {
    margin: 10px auto;
  }

  img {
    padding: 0 15px;
    width: auto;
    display: inline;
    // border: 1px solid red;
  }

}
