@import "colors";

.navbar-brand {
  padding: 5px 15px 15px 15px;
}

.navbar {
  background-color: $white;
  border-bottom: 3px solid $muddy-brown;
}

.footer {
  background-image: image-url("camo_banner");
  height: 75px;
  border-top: 2px solid $muddy-brown;
  text-align: center;
  img {
    margin-top: 10px;
  }
}
