@import "colors";

.navbar-brand {
  padding: 5px 15px 15px 15px;
}

.current-page a {
  color: #136E29 !important;
}

.current-page a:hover {
  color: #271E16 !important;
}

.navbar {
  background-color: $white;
  height: 60px;
}

.right-nav {

  margin: 0 -12px;
}

.navbar ul li a {
}

.navbar button {
  background-color: #136E29;
  color: white;
  border: 0;
  width: 100px;
}

#sign-up {
  color: #136E29;
}

.footer {

  background-color: #EFEFEF;
  height: 100px;
  text-align: center;



  // white-space: nowrap;

  #MilitaryLogoContainer {
    margin: 10px auto;
  }

  img {
    padding: 0 15px;
    width: auto;
    display: inline;
    // border: 1px solid red;
  }

}
