@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Allerta');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@import "colors";


$title-font: Lato, sans-serif;
$body-font: Lato, sans-serif;

$h1: 76px Lato;
$h2: bold 40px Lato;
$h3: 36px Lato;
$h4: 24px Lato;
$h5: 20px Lato;
$h6: 16px Lato;
$button: bold 16px Lato;

h1,h2,h3,h4,h5,h6 {
  font-family: $title-font;
  color: $white;
}

p, a {
  font-family: $body-font;
}

.jumbotron {
  text-align: center;
  h1 {
    font-size: 90px;
    font-weight: bold;
  }
  p {
    margin-top: 20px;
    font-size: 20px;
  }
  #jumbotron-message {
    margin-top: 5px;
    font-size: 16px;
    padding: 10px;
  }
}
