.hide {
  display: none;
}
#customer-request-map {
  height: 75vh;
}

#body {
  background-color: #e0dede;
}

button {
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;    
  }
  a:visited {
    text-decoration: none;
    color: white;    
  }
}

#cr_table th, #cr_table td {
  width: 25%;
}
