// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.caption, h3 {
  text-align: center;
}

.help, .how, .about {
  text-align: center;
  background-color: $white;
}

@media only screen and (max-width: 768px) {
  .contact-us {
    font-size: 1.25em;
  }
  h1.home-title {
    font-size: 4em;
  }
}

