@import "colors";

.p {
  color: $wet-concrete
}

.panel-quotes  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.table-condensed  {
    font-size: 12px;
}
