
<div class="comment-form">
    <h3>Leave A Review</h3>
     <%= form_tag '/reviews', method: :post do  %>
    <div class="form-contact">
        <form role="form">
        <div class="form-group">




        <label for="exampleInputEmail1">Company</label>
         <%= collection_select("",:company_id, Company.all, :id, :name, prompt: "Select one...") %>
        </div>
        <div class="form-group">
                <label for="message">Rating</label>
                <%= select_tag :stars, options_for_select(["1","2","3","4","5"]), required:true, class:"form-control" %>
            </div>       

            <div class="form-group">
                <label for="message">Review</label>
                <%= text_area_tag :body, "", required:true, class:"form-control" %>
            </div>                      
            <button style= 'margin-right: 25px; margin-bottom: 10px' type="submit" class="btn btn-theme-bg btn-lg pull-right">Comment</button>
        </form>
    </div>
</div>
<%end%>